.App-Wrapper{
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    background-image: linear-gradient( 45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 200, 0.5) 45%),url('../../../background/bg.jpg');
    height: 100%;
    min-height: 100vh;
   
    
}
